/* * {
  box-sizing:border-box;
  list-style-type:none;
}

:root {
  --light-grey:#e2e2e2;
  --dark-grey:#d3d3d3;
  --turquoise:rgb(69, 151, 123);;
  --bkg-colour:#f6f5fa;
  --bkg-complement:#e7e1da;
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
  --blue-border: rgb(3, 169, 244);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 30px auto;
  width: clamp(400px, 80vw, 1400px);
  background-color:var(--bkg-colour);
}

input {
  padding: 10px;
}

label {
  text-align:left;
}

link {
  background-color:white;
}

nav {
  z-index:1000;
}

h1.hidden {
  font-size:40px;
}

button {
  padding:0.8rem;
  background-color: black;
  border-radius: 1rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s;
}

button:hover {
  opacity: 1;
  background-color: var(--turquoise);
  text-decoration: underline solid 2px;
  transform: scale(1.02);
}

button.red {
  background-color:var(--g2);
}

button.red:hover {
  background-color:red;
} */