/* .padding-right {
    padding-right: 10px;
}

.section {
    background-color:var(--bkg-complement);
}

.form-page {
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.form-text {
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-width: 1px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.section.form-page {
    animation: AuthFormAnimation 1s;
}

@keyframes AuthFormAnimation {
    from {
        transform: translateY(-150px);
        filter: blur(5rem);
        filter: opacity(0)
    }

    to {
        transform: translateY(0);
        filter: blur(0);
        filter: opacity(1)
    }
} */