.listings {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
}

.listing, .single-listing {
    background-color: white;
    padding: 1em;
    border-width: 5px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 10px 5px grey; 
    text-align: left;
    padding-bottom: 1em;
    cursor: pointer;
}

.single-listing {
    width: clamp(550px, 50vw, 1000px);
    margin:auto;
    margin-top:3vh;
    display:flex;
    gap:2rem;
}

.details {
    display:flex;
    justify-content:flex-start;
    gap:2rem;
}

.buttons-container {
    display:flex;
    justify-content:center;
    gap:1rem;
}

.small {
    font-size:small;
}

.picture {
    border-radius:2rem;
    width:clamp(300px, 60%, 70%);
    max-height:600px;
}

.right-side {
    background-color:var(--bkg-colour);
    width:100%;
    border-radius:2rem;
    padding:1rem;
    position:relative;
}

.listing:hover {
    border:3px solid var(--g1);
}

.listing-name {
    font-size: 18px;
    font-weight: bold;
}

.comment {
    border-radius: 0.5rem;
}

.listing-image {
    height: 70%;
    overflow: hidden;
}


.listing-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}


.listing-container {
    margin-top:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:20px;
}

.navigator {
    display:flex;
    justify-content:space-between;
    border-radius:20px;
    background-color: var(--bkg-complement);
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

.options {
    display:flex;
    flex-grow:1;
    justify-content:space-around;
    flex-wrap:wrap;
}

.plus {
    border-radius:0;
    width:5rem;
    height:5rem;
    position:relative;
}

.plus:before {
    font-size:4rem;
    color:black;
    line-height:5rem;
    content:"+";
    background:linear-gradient(
        130deg,
        white 0% 33%,
        var(--g1) 66%,
        var(--g2) 83.5%,
        var(--g3) 100%
        );
    height:100%;
    width:100%;
    background-size:300% 300%;
    background-position:0% 0%;
    position:absolute;
    top:0;
    left:0;
    transition: all 500ms;
}

.plus:hover:before {
    color:white;
    background-position:100% 100%;
    cursor:pointer;
}

.search {
    border-radius:5px; 
    width:300px; 
}

.search-label {
    padding:10px;
    max-width:100px;
}

.selector {
    height:40px;
    align-self:center;
    width:100px;
}

label {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.option {
    padding-inline:20px;
}

input[type='number'] {
    width:75px;
}

.lab {
    text-align:center;
    margin-top:-10px;
}

img[id='output'] {
    display:block;
}

.big-text-field {
    width:100%;
}

textarea {
    min-width:50vw;
    min-height:10rem;
    border-radius:0.5rem;
    padding:1rem;
    resize:vertical;
}

input[type='number'] {
    width:100px;
}

.new-listing-buttons {
    display:flex;
    justify-content:center;
    gap:1rem;
    margin-top:1rem;
}

.submit:hover {
    background-color:var(--dark-grey);
    transform:scale(1.02);
    cursor:pointer;
}

dialog[open] {
    animation: show 800ms ease-out;
}

dialog {
    animation:show;
}

@keyframes show {
    from {
        transform: translateY(-110%);
    }
    to {
        transform: translateY(0%);
    }
}

@media (max-width:800px) {
    .navigator, .options {
        gap:10px;
        align-items:center;
        flex-direction:column;
        position:static;
    }

    label {
        text-align:center;
    }
    .search {
        margin-bottom:-10px;
    }
}