.nav-bar {
    font-size: large;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-color: var(--light-grey);
    border-bottom-width: 2px;
}

.right {
    float: right;
}

.nav-item {
    padding: 14px 16px;
    margin-bottom: 10px;
    text-decoration: none;
    float: left;
    color: black;
    border-radius: 5px;
}

.nav-item:hover {
    background-color: var(--light-grey);
    border-bottom: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}