/* .Profile {
    margin-top: 1rem;
}

.Profile-Upper-Section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
}

.Profile-image img {
    max-width: 100%;
    border: 2px solid black;
}

.Profile-left {
}

.Profile-detail {
    text-align: center;
    margin-top: 1rem;
}

.Profile-detail div {
    gap: 1rem;
}


.Profile-right {
    padding-left: 1rem;
}

.Profile-name {
    margin-top: 0;
    font-size: 3em;
}

.submit {
    display:block;
}

input {
    border: 1px solid black;
    border-radius:5px;
}

.buttons-container {
    display:flex;
    justify-content:center;
    gap:0.5rem;
    margin-top:1rem;
}

input {
    width:100%;
} */