.Profile {
    margin-top: 1rem;
}

.Profile-Upper-Section {
    display: flex;
    gap: 1rem;
}

.Profile-left {
    /* border: 2px solid green; */
}

.Profile-image img {
    max-width: 100%;
    border: 2px solid black;
}

.Profile-detail {
    /* border: 2px solid green; */
    text-align: center;
    margin-top: 1rem;
}

.Profile-detail div {
    gap: 1rem;
}


.Profile-right {
    /* border: 2px solid red; */
    padding-left: 1rem;
}

.Profile-name {
    font-size: 3em;
}


.logout-button, .edit, .submit {
    margin-inline:0.5rem;
    border-radius: 10px;
    width: 6rem;
    height: 2rem;
    font-weight: bold;
}

.logout-button:hover {
    background-color: lightcoral;
    cursor:pointer;
}

.logout-button {
    background-color: red;
}

.modal {
    padding:100px;
    background-color:var(--bkg-complement);
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -30%);
    border-radius:20px;
}

.submit {
    display:block;
}

.edit:hover, .submit:hover {
    background-color:var(--bkg-colour);
    cursor:pointer;
}

input {
    border: 1px solid black;
    border-radius:5px;
}